<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FtpUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="FtpUrl" value=""/>
    <add key="FtpPath" value=""/>
  </appSettings>
  <userSettings>
    <FtpUpdater.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Recursive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Exclude" serializeAs="String">
        <value>^\.git</value>
      </setting>
    </FtpUpdater.Properties.Settings>
    <WpfApplication1.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LatestFileTimeUtc" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Recursive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Exclude" serializeAs="String">
        <value>^\.git</value>
      </setting>
    </WpfApplication1.Properties.Settings>
  </userSettings>
</configuration>